body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(aquanettoyage.jpg);
    background-repeat: no-repeat;
    background-size: 100% 280%;

}
h1{
    text-align: left;
    text-shadow: 2px 4px 3px rgb(0, 0, 0);
}
section{
    padding: 177px;
}
footer{
    background-color: black;
    color: white;
    padding: 4px;
    text-align: center;
}